* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #120E43;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: #fff;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 40%;
}

input:focus {
    outline: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 20px;
    background-color: #3944F7;
    width: 300px;
    height: 380px;
    overflow: hidden;
    padding: 20px;
}

.card img {
    width: 200px;
    padding: 1rem;
    height: 250px;
}

button {
    padding: 10px;
    border-radius: 6px;
    border: transparent;
    width: 100%;
    background-color: #B4161B;
    color: #fff;
}

h2 {
    color: #fff;
}

img {
    width: 200px;
    border-radius: 20px;
}

.cardGrid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}